<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
      body {
        font-family: 'Poppins', sans-serif;
      }
      
      .text {
              margin-top: 2px;
              padding: 10px;
              top: 0;
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              color: black;
              font-size: 15px;
              width: 100%;
              
          }
  
      .text > p {
          margin-left: 5px;

      }
    </style>




    <div class="text">
        <p>&copy;</p>
        <p id="demo"></p>
        <p><a href="https://github.com/btcChurchill?">Click here..</a></p>
    </div>
    
    <h1 class="mb-4 mt-5">Blog </h1>
    <a href="/articles/new" class="btn btn-success">New Chapter</a>

    <% articles.forEach(article => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= article.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2"><%= article.description %></div>
          <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
          <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
          <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>

  <script>
        const d = new Date();
        let year = d.getFullYear();
        document.getElementById("demo").innerHTML = year;
    </script>
</body>
</html>